#jinja2: lstrip_blocks: True
apiVersion: config.openshift.io/v1
kind: APIServer
metadata:
  name: cluster
spec:
  encryption:
  {% if install_version is version('4.13', '<') %}
    type: aescbc
  {% else %}
    type: aesgcm
  {% endif %}
