apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: "custom-router-certs-{{ router.name }}"
  namespace: openshift-ingress
stringData:
  tls.crt: |
    {{ router_cert_content | indent(width=4) }}
    {{ router_key_content | indent(width=4) }}
  tls.key: |
    {{ router_key_content | indent(width=4) }}
